
body {
	background-color: #b2f4d2;
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 60px;
}

h1 {
	color: #333;
	text-align: center;
}

h2 {
	color: #333;
	text-align: center;
}

h3 {
	background-color: #A5D6D9;
	color: #333;
	text-align: center;
	padding: 20px;
}

button {
	background-color: #333;
	color: #f2f2f2;
}

.navbar {
	margin: 0px;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.logout {
	float: right;
}

.username {
	float: right;
}

.card {
	background-color: #333;
	color: #f2f2f2;
	width: 300px;
	height: 150px;
	padding: 20px;
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
	border-radius: 7px;



}

.card a {

	display: block;
	color: #f2f2f2;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 17px;
	padding-bottom: 10px;
}

.card a:hover {
	background: #ddd;
	color: black;
	border-radius: 7px;
}

footer {
	margin: 0px;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #f2f2f2;
	text-align: center;
}

.datarow {
	background-color: #333;
	margin: 0px;
	width: 100%;
	color: #f2f2f2;
}

.datarowsub {
	background-color: #A5D6D9;
	width: 100%;
	color: #f2f2f2;
	margin-left: 20%;
}

.datarow p {

	display: block;
	color: #f2f2f2;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 17px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.datarowsub p {
	display: block;
	color: #333;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 17px;
	padding-top: 3px;
	padding-bottom: 3px;
}



