<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post Answer</title>
    </head>
    <body>
    <form action="/question/{{ question_id }}/new-answer" method="post">
        <label for="message"><h1>Answer</h1></label>
        <textarea id="message" name="message" cols="50" rows="10" required></textarea><br>
        <button type="submit">Post Answer</button>
        <input type="hidden" name="question_id" value="{{ question_id }}">
    </form>
    </body>
</html>