{% extends "layout.html" %}

{% block content %}

    <h1>
        New question
    </h1>
    <br>
    <form action="/add-question" method="POST">
        <b>Title</b><br>
        <input type="text" name="title" required>
        <br>
        <br>
        <b>Write a question</b><br>
        <textarea name="message" cols="50" rows="10" required></textarea>
        <br>
        <br>
        <button type="submit"><b>Submit question</b></button>
    </form>
    <br>
    <br>
    <a href="/list"><button><b>Back</b></button></a>


{% include 'footer.html' %}
{% endblock %}