{% extends "layout.html" %}
{% block content %}
{% include "header.html" %}

    <body>

    <h1 align="center">Questions</h1>

        <table>
            <tr>
                {% for question in questions %}
                <td>
                    <div class="card">

                        <!-- {{question.id}}-->

                        <a href="/question/{{ question.id }}">{{question.title}}</a><br>
                        {{question.submission_time}}<br>
                        <br>
                        Views: {{question.view_number}}
                        Votes: {{question.vote_number}}
                    </div>
                </td>
                {% endfor %}
            </tr>
        </table>


{% include "footer.html" %}
{% endblock %}