<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate - Log In</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body id="logo">
<h1>Welcome!</h1>
<div id="inputs">
<form action="/login" method="post">
        User name<br>
        <p><input type=text name=username><br>
        <br>
        Password<br>
        <p><input type=password name=password></p>
        <p><button type=submit value=Login>Login</button></p>
    </form>
    <a href="/register"><button name="register">Register</button></a>
    </div>
    </body>
</html>
