<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table border="1">
        <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>Number of views</th>
        <th>Number of votes</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
        </tr>
        <tr>
        {% for data in question.values() %}
            <td>
                {{data}}
            </td>
        {% endfor %}
        </tr>

    </table>
    <h1>Answers</h1>
    <table border="1">
        <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>Number of votes</th>
        <th>Message</th>
        <th>Image</th>
        </tr>

        {% for answer in answers %}
            <tr>
                {% for key in answer %}
                {% if key != 'question_id' %}
                <td>
                    {{ answer[key] }}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
    <br>
    <a href="/question/{{ question.id }}/new-answer"><button><b>Post new answer</b></button></a>
    <a href="/question/{{ question.id }}/delete"><button><b>Delete question</b></button></a>
    <a href="/list"><button><b>Go back to main</b></button></a>


</body>
</html>