<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table border="1">
        <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>Number of views</th>
        <th>Number of votes</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
        </tr>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.message }}</td>
                <td>{{ question.image }}</td>

            </tr>

    </table>
    <h1>Answers</h1>
    <table border="1">
        <tr>
        <th>delete</th>
        <th>Id</th>
        <th>Submission time</th>
        <th>Number of votes</th>
        <th>Message</th>
        <th>Image</th>
        </tr>

        {% for answer in answers %}
            <tr>
                {% for key in answer %}
                    {% if key != 'question_id' %}
                    {%  if key == 'id' %}
                        <td>
                            <a href="{{ url_for('delete_answer',answer_id= answer[key])}}">DELETE</a>
                        </td>
                    {% endif %}
                    <td>
                        {{ answer[key] }}
                    </td>

                    {% endif %}

                {% endfor %}

            </tr>
        {% endfor %}

    </table>
    <h1>Comments</h1>
    <table border="1">
        <tr>
        <th>delete</th>
        <th>Id</th>
        <th>Submission time</th>
        <th>Number of votes</th>
        <th>Message</th>
        <th>Image</th>
        </tr>

        {% for comment in comments %}
            <tr>
                {% for key in comment %}
                    {% if key != 'question_id' and key != 'answer_id' and key != 'edited_count' %}
                    {%  if key == 'id' %}
                        <td>
                            <a href="{{ url_for('delete_comment_from_question',comment_id= comment[key])}}">DELETE</a>
                        </td>
                    {% endif %}
                    <td>
                        {{ comment[key] }}
                    </td>

                    {% endif %}

                {% endfor %}

            </tr>
        {% endfor %}

    </table>
    <br>
    <a href="/question/{{ question.id }}/new-answer"><button><b>Post new answer</b></button></a>
    <a href="/question/{{ question.id }}/new-comment"><button><b>Post new comment</b></button></a>
    <a href="/question/{{ question.id }}/delete"><button><b>Delete question</b></button></a>
    <a href="/list"><button><b>Go back to main</b></button></a>
    <a href="/question/{{ question.id }}/vote/up"><button><b>Upvote</b></button></a>
    <a href="/question/{{ question.id }}/vote/down"><button><b>Downvote</b></button></a>


</body>
</html>