{% extends "layout.html" %}
{% block content %}
    <h1>Question</h1>
    <table id="question">
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Number of views</th>
            <th>Number of votes</th>
            <th>Title</th>
            <th>Message</th>
            <th>Username</th>
        </tr>
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>
                {{ question.vote_number }}
                <a href="/question/{{ question.id }}/vote/up"><img src="https://cdn.pixabay.com/photo/2013/07/12/12/29/arrow-145786_960_720.png" height="20px"></a>
                <a href="/question/{{ question.id }}/vote/down"><img src="http://www.clker.com/cliparts/e/a/c/a/12065697821256125215pitr_red_arrows_set_5.svg.med.png" height="20px"></a>
            </td>
            <td>{{ question.title }}</td>
            <td>{{ question.message }}</td>
            <td>{{ question.username }}</td>

        </tr>

    </table>
    <br>
    <br>
    <br>
    <br>
    <h2>Answers</h2>
    {% for answer in answers %}
        <table id="answers">
            <tr>
                <th>Id</th>
                <th>Submission time</th>
                <th>Message</th>
                <th>Username</th>
                <th>   </th>
                <th>   </th>

            </tr>
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.submission_time }}</td>
                <td>{{ answer.message }}</td>
                <td>{{ answer.username }}</td>
                <td>
                    <a href="{{ url_for('post_comment_to_answer',answer_id= answer['id'])}}">COMMENT</a>
                </td>
            </tr>
        </table>
        <br><h3>Comments for answer</h3>
        <table id="comment" border="1">
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Submission time</th>
                <th>Username</th>
                <th> </th>
            </tr>

            {% for sublist in comments_a %}
                {% for comment in sublist %}
                <tr>
                    {% if comment.answer_id == answer.id %}
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.message }}</td>
                        <td>{{ comment.submission_time }}</td>
                        <td>{{ comment.username }}</td>

                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}

        {% endfor %}
        </table>

    <br>
    <br>
    <h2>Comments</h2>
    <table border="1">


        {% for comment in comments_q %}
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Submission time</th>
                <th>Username</th>
                <th> </th>
            </tr>
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.message }}</td>
                <td>{{ comment.submission_time }}</td>
                <td>{{ comment.username }}</td>

            </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <br>
    <br>


    <a href="/question/{{ question.id }}/new-answer"><button><b>Post new answer</b></button></a>
    <a href="/question/{{ question.id }}/new-comment"><button><b>Post new comment to question</b></button></a>


{% include 'footer.html' %}
{% endblock %}3