

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<div id="questions">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
	    <th>Image</th>
        </tr>
        </thead>

        <tbody>

        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.submission_time }}</td>
                <td>{{ item.view_number }}</td>
                <td>{{ item.vote_number }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.message }}</td>
                <td>{{ item.image }}</td>
            </tr>

        {% endfor%}

    </tbody>
    </table>
    </div>
</body>
</html>
