{% extends "layout.html" %}
{% block content %}
{% include 'header.html' %}
    <h1>Users</h1>

    <table border="0">
        <th>Id</th>
        <th>Username</th>
        <th>E-mail</th>

        {% for user in users %}
            <tr>
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.email}}
                </td>

            </tr>
        {% endfor %}
    </table>


{% include 'footer.html' %}
{% endblock %}