{% extends "layout.html" %}
{% block content %}
{% include "header.html" %}

    <h1>Hello {{ username }}!</h1>
    <h2>These are your datas</h2>
    <div class="datarow">
    <table>
        <thead>
            <tr>
                <td><p>Your ID</p></td>
                <td><p>Your Username</p></td>
                <td><p>Your e-mail</p></td>
            </tr>
        </thead>
        <tbody>
    {% for data in user_data %}
            <tr>
                <td><p>{{ data.id }}</p></td>
                <td><p>{{ data.username }}</p></td>
                <td><p>{{ data.email }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <h2>Your questions</h2>
      <div class="datarow">
    <table>
        <thead>
            <tr>
                <td><p>Title</p></td>
                <td><p>Message</p></td>
            </tr>
        </thead>
        <tbody>
        {% for data in user_questions %}
            {% if user_questions %}
            <tr>
                <td><p>{{ data.title }}</p></td>
                <td><p>{{ data.message }}</p></td>

                <td><a href="{{ url_for('delete_question',question_id= data.question_id)}}"><button>Delete</button></a></td>
                <td><a href="{{ url_for('edit_question',question_id= data.question_id) }}"><button>Edit</button></a></td>

            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
      </div>
  <div class="datarowsub">
    <h2>Your answers</h2>
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for data in user_answers %}
            <tr>
                <td><p>{{ data.a_message }}</p></td>
                <td><a href="{{ url_for('delete_answer',answer_id= data.answer_id) }}"><button>Delete</button></a></td>
                <td><a href="{{ url_for('edit_answer',answer_id= data.answer_id) }}"><button>Edit</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
      <div class="datarowsub">
    <h2>Your comments</h2>
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
    {% for data in user_comments %}
            <tr>
                <td><p>{{ data.c_message }}</p></td>
                <td><a href="{{ url_for('delete_comment',comment_id= data.comment_id) }}"><button>Delete</button></a></td>
                <td><a href="{{ url_for('edit_comment',comment_id= data.comment_id) }}"><button>Edit</button></a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
{% include 'footer.html' %}
{% endblock %}